<form class="form-horizontal mt-5" [formGroup]="personalInformationForm" (ngSubmit)="save()">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="40">
            <div class="profile-img">
                <img src="assets/img/marc.jpg" alt="Imagen de perfil">
            </div>
        </div>
        <div fxFlex="60">
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="name" name="name" required>
                        <mat-error
                            *ngIf="personalInformationForm.controls.name.invalid && (personalInformationForm.controls.name.dirty || personalInformationForm.controls.name.touched)">
                            <div *ngIf="personalInformationForm.controls.name.errors.required">
                                El nombre es obligatorio
                            </div>
                            <div *ngIf="personalInformationForm.controls.name.errors.minlength">
                                El nombre debe ser mínimo 3 carácteres
                            </div>
                            <div *ngIf="personalInformationForm.controls.name.errors.maxlength">
                                El nombre debe ser máximo 55 carácteres
                            </div>
                            <div *ngIf="personalInformationForm.controls.name.errors.pattern">
                                El nombre no puede contener espacios ni al final ni al principio ni tampoco
                                carácteres especiales
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Apellidos" formControlName="surname" name="surname" required>
                        <mat-error
                            *ngIf="personalInformationForm.controls.surname.invalid && (personalInformationForm.controls.surname.dirty || personalInformationForm.controls.surname.touched)">
                            <div *ngIf="personalInformationForm.controls.surname.errors.required">
                                El apellido es obligatorio
                            </div>
                            <div *ngIf="personalInformationForm.controls.surname.errors.minlength">
                                El apellido debe ser mínimo 3 carácteres
                            </div>
                            <div *ngIf="personalInformationForm.controls.surname.errors.maxlength">
                                El apellido debe ser máximo 55 carácteres
                            </div>
                            <div *ngIf="personalInformationForm.controls.surname.errors.pattern">
                                El apellido no puede contener espacios ni al final ni al principio ni tampoco
                                carácteres
                                especiales
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento"
                            formControlName="birthdate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="personalInformationForm.controls.birthdate.errors?.dataNotValid && (personalInformationForm.touched || personalInformationForm.dirty)">
                            <div *ngIf="personalInformationForm.controls.birthdate.errors?.dataNotValid && (personalInformationForm.touched || personalInformationForm.dirty)"
                                class="cross-validation-error-message alert alert-danger">
                                Debe introducir una fecha con el formato correcto y válida
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Teléfono" formControlName="phone" name="phone">
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Teléfono 2" formControlName="phone2" name="phone2">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Tipo de documento</mat-label>
                        <mat-select formControlName="documentType" [compareWith]="compare">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let documentType of documentTypes" [value]="documentType">
                                {{documentType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Número documento" formControlName="documentNumber"
                            name="documentNumber">
                    </mat-form-field>
                    <div *ngIf="personalInformationForm.errors?.numeroDocumentoNoValido && (personalInformationForm.touched || personalInformationForm.dirty)"
                        class="cross-validation-error-message alert alert-danger">
                        Debe introducir un número de documento válido respecto al tipo de documento
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <input matInput placeholder="Dirección" formControlName="direccion" name="direccion">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Provincia</mat-label>
                        <mat-select formControlName="province" [compareWith]="compare">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let province of provinces" [value]="province">
                                {{province.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Municipio</mat-label>
                        <mat-select formControlName="municipie" [compareWith]="compare">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let municipie of municipies" [value]="municipie">
                                {{municipie.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <input matInput placeholder="Permiso de conducir" formControlName="license" name="license">
                    <mat-error
                        *ngIf="personalInformationForm.controls.license.invalid && (personalInformationForm.controls.license.dirty || personalInformationForm.controls.license.touched)">
                        <div *ngIf="personalInformationForm.controls.license.errors.maxlength">
                            El permiso de conducción debe ser máximo 5 carácteres
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <textarea matInput placeholder="Sobre mí" formControlName="aboutMe" name="aboutMe"></textarea>
                    <mat-error
                        *ngIf="personalInformationForm.controls.aboutMe.invalid && (personalInformationForm.controls.aboutMe.dirty || personalInformationForm.controls.aboutMe.touched)">
                        <div *ngIf="personalInformationForm.controls.aboutMe.errors.minlength">
                            El texto sobre mí debe ser mínimo 10 carácteres
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <textarea matInput placeholder="Otras competencias" formControlName="otherCompetences"
                        name="otherCompetences"></textarea>
                    <mat-error
                        *ngIf="personalInformationForm.controls.otherCompetences.invalid && (personalInformationForm.controls.otherCompetences.dirty || personalInformationForm.controls.otherCompetences.touched)">
                        <div *ngIf="personalInformationForm.controls.otherCompetences.errors.minlength">
                            El texto de otras competencias debe ser mínimo 10 carácteres
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="default" type="button" (click)="back()">
            <i class="fa fa-back" aria-hidden="true"></i>
            Volver
        </button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="personalInformationForm.pristine || personalInformationForm.invalid">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>
</form>