<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToProfile()">Cerrar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToProfile()">Tablero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToProfile()">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToOffers()">Ofertas de trabajo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToProfile()">Configuración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="" (click)="goToProfile()">Mis ofertas</a>
            </li>
        </ul>
    </div>
</nav>