<div fxLayout="column">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container cdkColumnDef="job">
      <mat-header-cell *cdkHeaderCellDef> Puesto </mat-header-cell>
      <mat-cell *cdkCellDef="let element"> {{element.job.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="company">
      <mat-header-cell *cdkHeaderCellDef> Empresa </mat-header-cell>
      <mat-cell *cdkCellDef="let element"> {{element.company.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="category">
      <mat-header-cell *cdkHeaderCellDef> Familia profesional </mat-header-cell>
      <mat-cell *cdkCellDef="let element"> {{element.category.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="date">
      <mat-header-cell *cdkHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *cdkCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="province">
      <mat-header-cell *cdkHeaderCellDef> Provincia </mat-header-cell>
      <mat-cell *cdkCellDef="let element"> {{element.province.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="options">
      <mat-header-cell *cdkHeaderCellDef> Opciones </mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <button *ngIf="hasStudentRol" type="button" mat-raised-button color="primary" (click)="goToDetail(element.id)">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button *ngIf="!hasStudentRol" type="button" mat-raised-button color="primary">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumnsOffers"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumnsOffers;"></mat-row>
  </mat-table>

</div>