<form class="form-horizontal mt-5" [formGroup]="configurationForm" (ngSubmit)="save()">
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Idioma</mat-label>
      <mat-select formControlName="languageName" [compareWith]="compare">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let languageName of languageNames" [value]="languageName">
          {{languageName.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column">
    <mat-checkbox [checked]="checkAllCheckBox()" class="example-margin" (change)="handleSelected($event.checked)">
      Todos</mat-checkbox>
    <div formArrayName="notifications"
      *ngFor="let configuration of configurationForm.controls.notifications?.value; let i = index;">
      <div [formGroupName]="i" class="form-check">
        <mat-checkbox class="example-margin" (click)="setValueCheckbox(i)" formControlName="notified">
          {{getNameProvince(i)}}</mat-checkbox>
      </div>
    </div>
  </div>

  <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" type="submit" [disabled]="configurationForm.invalid">
      <i class="fa fa-save" aria-hidden="true"></i>
      Guardar
    </button>
  </div>

</form>