<app-header></app-header>
<div class="container-fluid mt-5" *ngIf="model">
    <form class="form-horizontal mt-5" [formGroup]="experienceForm" (ngSubmit)="save()">
        <div class="form-group">
            <fieldset>
                <legend>Experiencia laboral</legend>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="company">Nombre de la empresa</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': experienceForm.controls.company.invalid}" type="text"
                            class="form-control" id="company" formControlName="company" name="company">
                        <div *ngIf="experienceForm.controls.company.invalid && (experienceForm.controls.company.dirty || experienceForm.controls.company.touched)"
                            class="alert alert-danger">
                            <div *ngIf="experienceForm.controls.company.errors.required">
                                El nombre de la empresa es obligatorio
                            </div>
                            <div *ngIf="experienceForm.controls.company.errors.minlength">
                                El nombre de la empresa debe ser mínimo 3 carácteres
                            </div>
                            <div *ngIf="experienceForm.controls.company.errors.maxlength">
                                El nombre de la empresa debe ser máximo 255 carácteres
                            </div>
                            <div *ngIf="experienceForm.controls.company.errors.pattern">
                                El nombre de la empresa no puede tener espacios en blanco al principio
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="control-label" for="dateInitial">Fecha de inicio</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': experienceForm.controls.dateInitial.invalid}" type="text"
                            placeholder="DD/MM/YYYY" class="form-control" id="dateInitial" formControlName="dateInitial"
                            name="dateInitial">
                        <div *ngIf="experienceForm.controls.dateInitial.errors?.dataNotValid && (experienceForm.touched || experienceForm.dirty)"
                            class="cross-validation-error-message alert alert-danger">
                            Debe introducir una fecha con el formato correcto y válida
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="dateEnd">Fecha de final</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': experienceForm.controls.dateEnd.invalid}" type="text"
                            placeholder="DD/MM/YYYY" class="form-control" id="dateEnd" formControlName="dateEnd"
                            name="dateEnd">
                        <div *ngIf="experienceForm.controls.dateEnd.errors?.dataNotValid && (experienceForm.touched || experienceForm.dirty)"
                            class="cross-validation-error-message alert alert-danger">
                            Debe introducir una fecha con el formato correcto y válida
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="control-label" for="company">Puesto desempeñado</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': experienceForm.controls.position.invalid}" type="text"
                            class="form-control" id="position" formControlName="position" name="position">
                        <div *ngIf="experienceForm.controls.position.invalid && (experienceForm.controls.position.dirty || experienceForm.controls.position.touched)"
                            class="alert alert-danger">
                            <div *ngIf="experienceForm.controls.position.errors.required">
                                El puesto desempeñado es obligatorio
                            </div>
                            <div *ngIf="experienceForm.controls.position.errors.minlength">
                                El puesto desempeñado debe ser mínimo 3 carácteres
                            </div>
                            <div *ngIf="experienceForm.controls.position.errors.maxlength">
                                El puesto desempeñado debe ser máximo 255 carácteres
                            </div>
                            <div *ngIf="experienceForm.controls.position.errors.pattern">
                                El puesto desempeñado no puede tener espacios en blanco al principio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="tasks">Tareas realizadas en el puesto desempeñado</label>
                    </div>
                    <div class="col-9">
                        <textarea [ngClass]="{'is-invalid': experienceForm.controls.tasks.invalid}"
                            class="form-control rounded-0" rows="5" id="tasks" formControlName="tasks"
                            name="tasks"></textarea>
                        <div *ngIf="experienceForm.controls.tasks.invalid && (experienceForm.controls.tasks.dirty || experienceForm.controls.tasks.touched)"
                            class="alert alert-danger">
                            <div *ngIf="experienceForm.controls.tasks.errors.minlength">
                                El texto debe ser mínimo 10 carácteres
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="buttons text-right">
                            <button type="submit" class="btn btn-success"
                                [disabled]="experienceForm.pristine || experienceForm.invalid">
                                <i class="fa fa-save" aria-hidden="true"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>