<app-header></app-header>
<div class="container-fluid mt-5" *ngIf="model">
    <form class="form-horizontal mt-5" [formGroup]="offerForm" (ngSubmit)="register()">
        <div class="form-group">
            <fieldset>
                <legend>Oferta</legend>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="company">Empresa</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.company.invalid}" type="text"
                            class="form-control" id="company" formControlName="company" name="company">
                    </div>
                    <div class="col-3">
                        <label class="control-label" for="jobName">Puesto</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.jobName.invalid}" type="text"
                            class="form-control" id="jobName" formControlName="jobName" name="jobName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="jobDescription">Descripción</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.jobDescription.invalid}" type="text"
                            class="form-control" id="jobDescription" formControlName="jobDescription"
                            name="jobDescription">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Municipio</legend>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="province">Provincia</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.province.invalid}" type="text"
                            class="form-control" id="province" formControlName="province" name="province">
                    </div>
                    <div class="col-3">
                        <label class="control-label" for="municipe">Municipio</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.municipe.invalid}" type="text"
                            class="form-control" id="municipe" formControlName="municipe" name="municipe">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Destinado a persona de</legend>
                <div class="row">
                    <div class="col-3">
                        <label class="control-label" for="category">Familia profesional</label>
                    </div>
                    <div class="col-3">
                        <input [ngClass]="{'is-invalid': offerForm.controls.category.invalid}" type="text"
                            class="form-control" id="category" formControlName="category" name="category">
                    </div>
                    <div class="col-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Títulos a los que va destinado la oferta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let title of model.title">
                                    <th scope="row">{{title.name}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="buttons text-right">
                            <button type="button" class="btn btn-primary" (click)="back()">
                                <i class="fa fa-back" aria-hidden="true"></i> Volver
                            </button>
                            <button *ngIf="!isMyJobOffer()" type="submit" class="btn btn-success">
                                Inscribirse
                            </button>
                            <button *ngIf="isMyJobOffer()" type="submit" class="btn btn-success">
                                Borrarse
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>