<form class="form-horizontal mt-5" [formGroup]="profileStudyVocationalForm" (ngSubmit)="save()">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <mat-card-title>Opción Ciclo Formativo</mat-card-title>
    </div>

    <div fxLayout="row">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Centro educativo</mat-label>
                <mat-select formControlName="institution" [compareWith]="compare">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let institution of institutions" [value]="institution">
                        {{institution.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Familia profesional</mat-label>
                <mat-select formControlName="category" [compareWith]="compare">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Grado</mat-label>
                <mat-select formControlName="grade" [compareWith]="compare">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let grade of grades" [value]="grade">
                        {{grade.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field>
                <mat-label>Ciclo</mat-label>
                <mat-select formControlName="title" [compareWith]="compare">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let title of titles" [value]="title">
                        {{title.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="50">
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha de obtención del título"
                    formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error
                    *ngIf="profileStudyVocationalForm.controls.date.errors?.dataNotValid && (profileStudyVocationalForm.touched || profileStudyVocationalForm.dirty)">
                    <div *ngIf="profileStudyVocationalForm.controls.date.errors?.dataNotValid && (profileStudyVocationalForm.touched || profileStudyVocationalForm.dirty)"
                        class="cross-validation-error-message alert alert-danger">
                        Debe introducir una fecha con el formato correcto y válida
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-checkbox class="example-margin" formControlName="dual">Formación dual</mat-checkbox>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="50">
            <mat-checkbox class="example-margin" formControlName="bilingue">Formación bilingue</mat-checkbox>
        </div>
        <div fxFlex="50">
            <label for="certificate">Seleccione un fichero</label>
            <input type="file" class="form-control-file" id="certificate"
                (change)="handleFileInput($event.target.files)" name="certificate">
        </div>
    </div>

    <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="submit"
            [disabled]="profileStudyVocationalForm.pristine || profileStudyVocationalForm.invalid">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>

</form>