<div class="content" fxLayout='row' fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="space-around center"
    fxLayoutAlign.xs="start start">
    <div>
        <div>
            <span class="strong-text">Nombre Comercial</span>
        </div>
        <div>
            {{user.comercialName}}
        </div>
        <div>
            <span class="strong-text">Razón social</span>
        </div>
        <div>
            {{user.businessName}}
        </div>
    </div>
    <div>
        <div>
            <span class="strong-text">CIF</span>
        </div>
        <div>
            {{user.documentNumber}}
        </div>
        <div>
            <span class="strong-text">Dirección</span>
        </div>
        <div>
            {{user.address.street}}
        </div>
    </div>
    <div>
        <div>
            <span class="strong-text">Provincia</span>
        </div>
        <div>
            {{user.address.province.name}}
        </div>
        <div>
            <span class="strong-text">Municipio</span>
        </div>
        <div>
            {{user.address.municipe.name}}
        </div>
    </div>
    <div>
        <div>
            <span class="strong-text">Url</span>
        </div>
        <div>
            <a href="{{user.url}}">{{user.url}}</a>
        </div>
        <div>
            <span class="strong-text">Nombre y apellidos persona contacto</span>
        </div>
        <div>
            {{user.name + ' ' + user.surname}}
        </div>
    </div>
    <div>
        <div>
            <span class="strong-text">Teléfono persona contacto</span>
        </div>
        <div>
            {{user.phone}}
        </div>
        <div>
            <span class="strong-text">Correo electrónico persona contacto</span>
        </div>
        <div>
            {{user.email}}
        </div>
    </div>
</div>
<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" type="button" (click)="goToPersonalInformation()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Editar
    </button>
</div>