<app-header></app-header>
<div class="container-fluid mt-5">
    <form class="form-horizontal mt-5" [formGroup]="personalInformationForm" (ngSubmit)="login()">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/user.png" alt="Logotipo de la Uoc">
            </div>
            <div class="col-5">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label class="control-label" for="nombre">Nombre</label>
                        </div>
                        <div class="col-10">
                            <input [ngClass]="{'is-invalid': personalInformationForm.controls.nombre.invalid}"
                                type="text" class="form-control" id="nombre" formControlName="nombre" name="nombre">
                            <div *ngIf="personalInformationForm.controls.nombre.invalid && (personalInformationForm.controls.nombre.dirty || personalInformationForm.controls.nombre.touched)"
                                class="alert alert-danger">
                                <div *ngIf="personalInformationForm.controls.nombre.errors.required">
                                    El nombre es obligatorio
                                </div>
                                <div *ngIf="personalInformationForm.controls.nombre.errors.minlength">
                                    El nombre debe ser mínimo 3 carácteres
                                </div>
                                <div *ngIf="personalInformationForm.controls.nombre.errors.maxlength">
                                    El nombre debe ser máximo 55 carácteres
                                </div>
                                <div *ngIf="personalInformationForm.controls.nombre.errors.pattern">
                                    El nombre no puede contener espacios ni al final ni al principio ni tampoco
                                    carácteres especiales
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label class="control-label" for="apellido">Apellidos</label>
                        </div>
                        <div class="col-10">
                            <input [ngClass]="{'is-invalid': personalInformationForm.controls.apellido.invalid}"
                                type="text" class="form-control" id="apellido" formControlName="apellido"
                                name="apellido">
                            <div *ngIf="personalInformationForm.controls.apellido.invalid && (personalInformationForm.controls.apellido.dirty || personalInformationForm.controls.apellido.touched)"
                                class="alert alert-danger">
                                <div *ngIf="personalInformationForm.controls.apellido.errors.required">
                                    El apellido es obligatorio
                                </div>
                                <div *ngIf="personalInformationForm.controls.apellido.errors.minlength">
                                    El apellido debe ser mínimo 3 carácteres
                                </div>
                                <div *ngIf="personalInformationForm.controls.apellido.errors.maxlength">
                                    El apellido debe ser máximo 55 carácteres
                                </div>
                                <div *ngIf="personalInformationForm.controls.apellido.errors.pattern">
                                    El apellido no puede contener espacios ni al final ni al principio ni tampoco
                                    carácteres
                                    especiales
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="buttons text-right">
                            <button type="submit" class="btn btn-success"
                                [disabled]="personalInformationForm.pristine || personalInformationForm.invalid">
                                <i class="fa fa-save" aria-hidden="true"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>