<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center start"
    fxFlexFill fxLayoutGap="20px">
    <div class="profile" fxFlex="25">
        <img src="../../assets/img/marc.jpg" alt="Imagen del usuario">
        <div class="text-center">{{user.name}}</div>
        <div class="text-center">{{user.surname}}</div>
    </div>
    <div fxFlex="25">
        <div>
            <span class="strong-text">Email:</span>
        </div>
        <div class="large-text">
            {{user.email}}
        </div>
        <div>
            <span class="strong-text">Fecha de nacimiento:</span>
        </div>
        <div>
            {{user.birthdate}}
        </div>
        <div>
            <span class="strong-text">Teléfono:</span>
        </div>
        <div>
            {{user.phone}}
        </div>
        <div>
            <span class="strong-text">NIF/NIE:</span>
        </div>
        <div>
            {{user.documentNumber}}
        </div>
        <div>
            <span class="strong-text">Permisos de conducir:</span>
        </div>
        <div>
            {{user.license}}
        </div>
        <div>
            <span class="strong-text">Dirección:</span>
        </div>
        <div>
            {{user.address.street}}
        </div>
    </div>
    <div fxFlex="25">
        <div>
            <span class="strong-text">Acerca de mí:</span>
        </div>
        <div>
            {{user.aboutMe}}
        </div>
    </div>
    <div fxFlex="25">
        <div>
            <span class="strong-text">Otras competencias:</span>
        </div>
        <div>
            {{user.otherCompetences}}
        </div>
    </div>
</div>
<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" type="button" (click)="goToPersonalInformationForm()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Editar
    </button>
</div>
<mat-card-title>Formación académica</mat-card-title>
<mat-table [dataSource]="user.studies" class="mat-elevation-z8">

    <ng-container cdkColumnDef="level">
        <mat-header-cell *cdkHeaderCellDef> Nivel </mat-header-cell>
        <mat-cell *cdkCellDef="let element"> {{element.level.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef> Título </mat-header-cell>
        <mat-cell *cdkCellDef="let element"> {{element.title.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="institution">
        <mat-header-cell *cdkHeaderCellDef> Centro </mat-header-cell>
        <mat-cell *cdkCellDef="let element">
            {{element.institution.name ? element.institution.name : element.institution}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *cdkCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="certificate">
        <mat-header-cell *cdkHeaderCellDef> Certificado </mat-header-cell>
        <mat-cell *cdkCellDef="let element"> {{element.certificate ? 'Sí' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="options">
        <mat-header-cell *cdkHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *cdkCellDef="let element">
            <button type="button" mat-raised-button color="primary" (click)="goToProfileStudy(element.id)">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button type="button" mat-raised-button color="warn" (click)="removeStudie(element.id)">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumnsStudies"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumnsStudies;"></mat-row>
</mat-table>
<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button type="button" mat-raised-button color="primary" (click)="goToProfileStudy()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva
    </button>
</div>

<div fxLayout="column">
    <mat-card-title>Experiencia laboral</mat-card-title>
    <table mat-table [dataSource]="user.experiencies" class="mat-elevation-z8">

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Puesto </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="dates">
            <th mat-header-cell *matHeaderCellDef> Fechas </th>
            <td mat-cell *matCellDef="let element">
                {{element.dateInitial + ' - ' + element.dateEnd}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-raised-button color="primary" (click)="goToExperience(element.id)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="button" mat-raised-button color="warn" (click)="removeExperience(element.id)">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsExperiences"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsExperiences;"></tr>
    </table>
</div>

<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button type="button" mat-raised-button color="primary" (click)="goToExperience()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva
    </button>
</div>

<div fxLayout="column">
    <mat-card-title>Idiomas</mat-card-title>
    <table mat-table [dataSource]="user.languages" class="mat-elevation-z8">

        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Idioma </th>
            <td mat-cell *matCellDef="let element"> {{element.name.name}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element">
                {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-raised-button color="primary" (click)="goToProfileLanguage(element.id)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="button" mat-raised-button color="warn" (click)="removeLanguage(element.id)">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLanguages"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLanguages;"></tr>
    </table>
</div>

<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button type="button" mat-raised-button color="primary" (click)="goToProfileLanguage()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva
    </button>
</div>