<form class="form-horizontal mt-5" [formGroup]="offerForm" (ngSubmit)="register()">

  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field>
        <input matInput placeholder="Empresa" formControlName="company" name="company">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field>
        <input matInput placeholder="Puesto" formControlName="jobName" name="jobName">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <mat-form-field>
      <input matInput placeholder="Descripción" formControlName="jobDescription" name="jobDescription">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-card-title>Municipio</mat-card-title>
  </div>

  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field>
        <input matInput placeholder="Provincia" formControlName="province" name="province">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field>
        <input matInput placeholder="Municipio" formControlName="municipe" name="municipe">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-card-title>Destinado a persona de</mat-card-title>
  </div>

  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field>
        <input matInput placeholder="Familia profesional" formControlName="category" name="category">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-card-title>Títulos a los que va destinado la oferta</mat-card-title>
      <div fxLayout="column">
        <div *ngFor="let title of offer.title">
          {{title.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="default" type="button" (click)="back()">
      <i class="fa fa-back" aria-hidden="true"></i>
      Volver
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isMyJobOffer()">
      <i class="fa fa-save" aria-hidden="true"></i>
      Inscribirse
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="isMyJobOffer()">
      <i class="fa fa-save" aria-hidden="true"></i>
      Borrarse
    </button>
  </div>

</form>