<form class="form-horizontal mt-5" [formGroup]="profileStudyForm">
    <div class="content" fxLayout="column" fxFlexFill>
        <mat-form-field>
            <mat-label>Tipo de título</mat-label>
            <mat-select formControlName="level" [compareWith]="compare">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let levelType of levelTypes" [value]="levelType">
                    {{levelType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="profileStudyForm.controls.level.value.name === 'Título universitario'">
            <app-profile-study-college [model]="study" (saveProfileStudy)="save($event)">
            </app-profile-study-college>
        </div>
        <div *ngIf="profileStudyForm.controls.level.value.name === 'Ciclo Formativo'">
            <app-profile-study-vocational [model]="study" (saveProfileStudy)="save($event)">
            </app-profile-study-vocational>
        </div>
    </div>
    <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="default" type="button" (click)="back()">
            <i class="fa fa-back" aria-hidden="true"></i>
            Volver
        </button>
    </div>
</form>