/* You can add global styles to this file, and also import other style files */
img {
    margin: 0 auto;
    display: block;
    width: 40%;
    height: auto;
}

.row {
    margin-top: 15px;
}

.buttons button {
    margin: 10px;
}